.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.scroll-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Ховаємо кнопку початково */
}
/* Клас, який ми будемо додавати через JS, щоб показати кнопку */
.scroll-btn.show {
    display: block; 
}
